<div class="descriptionContainer">
    <div class="toneContainer">
        <p class="toneTitle">
            TONE
        </p>
        <div class="toneOptions">
            <ng-container *ngFor="let tones of toneOptions; let i = index">
                <div class="btnContainer" >
                    {{tones}}
                </div>
            </ng-container>
        </div>
    </div>

    <div class="wordCountContainer">
        <p class="wordtitle">WORD COUNT: <span class="wordCountValue">{{wordCount}}</span></p>
        <div>
            <p-slider [(ngModel)]="wordCount" [max]="1000"></p-slider>
        </div>
    </div>

    <div class="keyWordContainer">
        <p class="keyTitle">KEY WORDS <span (click)="setVisible()" class="pi pi-info-circle"></span></p>
        <p-dialog header="Instructions" [(visible)]="visible" [style]="{width: '50vw'}">
            <p>
                Add key words to describe your description. Press Enter after the word.
            </p>
        </p-dialog>
        <p-chips [(ngModel)]="keywords"></p-chips>
    </div>
    <div class="phrasesContainer">
        <p class="keyTitle">PHRASES <span (click)="setVisible()" class="pi pi-info-circle"></span></p>
        <p-dialog header="Instructions" [(visible)]="visible" [style]="{width: '50vw'}">
            <p>
                Add phrases to describe your description.
            </p>
        </p-dialog>
        <textarea class="pharsesTextArea" rows="5" cols="30" pInputTextarea [(ngModel)]="phrases"></textarea>
    </div>

    <div class="genButtonContainer">
        <p-button (click)="generateDescription()" class="genBtn" icon="pi pi-bolt" label="Generate"></p-button>
        
    </div>
</div>
