<div
  *ngIf="currentView === 'genDesc'; else showDescriptions"
  class="descriptionContainer"
>
  <ng-container *ngIf="!currentlyGenerating">
    <div class="toneContainer">
      <div class="topContainer">
        <p class="toneTitle">TONE (2 MAX)</p>
        <div
          (click)="generateNav('viewDesc')"
          *ngIf="(aiGenereatedDescriptions$ | async)?.length"
          class="descBtn"
        >
          Generated Descriptions
        </div>
      </div>
      <div class="toneOptions">
        <ng-container *ngFor="let tones of toneOptions; let i = index">
          <div (click)="addTone(tones, $event)" class="btnContainer">
            {{ tones }}
          </div>
        </ng-container>
      </div>
    </div>

    <div class="optionsContainer">
      <div class="categoryContainer">
        <p>CATEGORY</p>
        <span>
          <p>
            USE FULL TRANSCIPT?
            <span
              (click)="setVisible('transcript')"
              class="pi pi-info-circle"
            ></span>
          </p>
        </span>
      </div>
      <p-dialog
        (click)="visible = ''"
        header="Transcript Instructions"
        [visible]="visible === 'transcript'"
        [style]="{ width: '50vw' }"
      >
        <p>
          Choose between the 'Summary' option, which condenses your video's
          transcript for GPT's use, consuming fewer tokens, or the 'Transcript'
          option for a more accurate and detailed response, potentially using
          more tokens.
        </p>
      </p-dialog>

      <div class="transcriptOptions">
        <p-dropdown
          [options]="categories"
          [(ngModel)]="selectedCategory"
          optionLabel="name"
          [showClear]="true"
          placeholder="Select a Category"
        ></p-dropdown>
        <p-selectButton
          [options]="stateOptions"
          [(ngModel)]="value"
          optionLabel="label"
          optionValue="value"
        ></p-selectButton>
      </div>
    </div>

    <div class="wordCountContainer">
      <p class="wordtitle">
        WORD COUNT: <span class="wordCountValue">{{ wordCount }}</span>
      </p>
      <div>
        <p-slider [(ngModel)]="wordCount" [step]="50" [max]="1000"></p-slider>
      </div>
    </div>

    <div class="keyWordContainer">
      <div class="keyTitle">
        KEY TERMS
        <span (click)="setVisible('keywords')" class="pi pi-info-circle"></span>
        <p-confirmPopup></p-confirmPopup>
        <p-button
          class="aiButton"
          (click)="confirmKeyTerms($event)"
          label="AI"
        ></p-button>
      </div>

      <p-dialog
        (click)="visible = ''"
        header="Key Terms Instructions"
        [visible]="visible === 'keywords'"
        [style]="{ width: '50vw' }"
      >
        <p>
          Add key terms to describe your description. Press Enter after each
          word. If you need help coming up with key terms, press the AI button,
          and it will generate some for you.
        </p>
      </p-dialog>
      <p-chips
        [(ngModel)]="keywords"
        placeholder="Insert Key Terms's and Press Enter after each one"
      ></p-chips>
    </div>
    <div class="instructionsContainer">
      <div class="keyTitle">
        INSTRUCTIONS
        <span
          (click)="setVisible('instructions')"
          class="pi pi-info-circle"
        ></span>
        <p-confirmPopup></p-confirmPopup>
        <p-button
          class="aiButton"
          (click)="confirmInstructions($event)"
          label="AI"
        ></p-button>
      </div>
      <p-dialog
        (click)="visible = ''"
        header="Instructions"
        [visible]="visible === 'instructions'"
        [style]="{ width: '50vw' }"
      >
        <p>
          Add custom instructions you want the AI to do while creating your
          description. If you need help coming up with custom instructions,
          press the AI button, and it will generate some for you.
        </p>
      </p-dialog>
      <textarea
        class="instructionsTextArea"
        rows="5"
        placeholder="Insert Custom Instructions for your Description"
        cols="30"
        pInputTextarea
        [(ngModel)]="instructions"
      ></textarea>
    </div>

    <div class="genButtonContainer">
      <p-button
        (click)="initiateChat()"
        class="genBtn"
        icon="pi pi-bolt"
        label="Generate"
      ></p-button>
    </div>
  </ng-container>
</div>

<ng-template #showDescriptions>
  <ng-container *ngIf="aiGenereatedDescriptions$ | async as descriptions">
    <div class="returnBack">
      <div (click)="generateNav('genDesc')" class="returnBtn">
        Generate More Descriptions
      </div>
    </div>
    <div
      *ngIf="currentlyGenerating && !fullResponse.length"
      class="spinnerContainer"
      style="text-align: center; margin: auto"
    >
      <p-header>
        <h4 class="p-text-center">GENERATING NEW DESCRIPTION</h4>
      </p-header>
      <p-progressSpinner></p-progressSpinner>
    </div>
    <ng-container>
      <p *ngIf="!currentlyGenerating && !fullResponse.length">
        {{ descriptions[first] }}
      </p>
      <p *ngIf="fullResponse.length">
        {{ fullResponse }}
      </p>
      <p-paginator
        *ngIf="!currentlyGenerating"
        [first]="first"
        [rows]="1"
        [totalRecords]="descriptions.length"
        (onPageChange)="onPageChange($event)"
        [showJumpToPageDropdown]="true"
        [showPageLinks]="false"
      ></p-paginator>
    </ng-container>
  </ng-container>
</ng-template>
