<div class="container">
  <div class="header">
    <p class="title">AI Assistant</p>
  </div>

  <div class="aiChatContainer">
    <div class="messageContainer">
      <ng-container *ngIf="chatHistory$ | async as history">
        <ng-container *ngFor="let message of history">
          <div *ngIf="message.human" class="messageBubble humanMessage">
              <p class="messageText">{{ message.human }}</p>
          </div>
          <div *ngIf="message.ai" class="messageBubble aiMessage">
              <p class="messageText">{{ message.ai }}</p>
          </div>
      </ng-container>

      <div style="display: flex; justify-content: center;" *ngIf="(isLoadingAIMessage$ | async) === true" class="messageBubble aiMessage">
          <p-progressSpinner></p-progressSpinner>
      </div>
      </ng-container>
    </div>

    <div class="textAreaContainer">
      <div class="quickSelections">
        <!-- Add Icons for Text to speech -->
      </div>

      <span style="width: 100%">
        <input
          placeholder="Ask Question..."
          class="textarea"
          id="float-input"
          rows="5"
          cols="30"
          [(ngModel)]="userMessage"
        />
      </span>

      <img (click)="sendMessage()" style="width: 2rem" src="assets/send.svg" />
    </div>
  </div>
</div>
