<div class="card space">
  <p-tabMenu
    [model]="items"
    [activeItem]="activeItem"
    (activeItemChange)="onActiveItemChange($event)"
  >
    <ng-template pTemplate="item" let-item>
      <a
        class="p-menuitem-link flex justify-content-between align-items-center p-3"
      >
        <div>
          <span [class]="item.icon"></span>
          <span> {{ item.label }}</span>
        </div>
        <div>
          <span *ngIf="item.shortcut" [class]="item.shortcutClass">{{
            item.shortcut
          }}</span>
          <p-badge
            *ngIf="item.badge"
            [value]="item.badge"
            [severity]="item.badgeSeverity"
          ></p-badge>
        </div>
      </a>
    </ng-template>
  </p-tabMenu>
</div>
