<div class="aiContainer">

        <div class="tabsContainer">
            <app-description-generator [items]="leftSide"></app-description-generator>
        <div *ngIf="!hasKeyUploaded; else hasValidKey" class="noKeyContainer">

            <p class="helperClass">AI Helper</p>
            <p class="importKey">Import an OpenAI API Key to use the Ai Helper</p>
    
            <div class="keyContainer">
                <p class="apiKey">OpenAI Api Key: </p>
                <input 
                    placeholder="Enter OpenAi API Key" 
                    class="APIinputbar" 
                    type="text" 
                    [(ngModel)]="apiKeyValue" 
                />
                <button pButton class="apiLock" (click)="storeApiKey()" icon="pi pi-lock"></button>
            </div>
        </div>
       
    </div>

    <ng-template #hasValidKey>
        <div *ngIf="youtubeInfo$ | async as youtubeInfo" class="transcriptContainer">
            <p-header>
                <h2 class="p-text-center">{{ youtubeInfo.title }}</h2>
            </p-header>

            <div class="transcript">
                <p>{{ youtubeInfo.transcript }}</p>
            </div>
        </div>
    </ng-template>

    <div class="tabsContainer">
        <app-description-generator [items]="rightSide"></app-description-generator>

        <div class="descriptionContainer"></div>
    </div>
</div>