<div class="aiContainer">

    <div class="tabsContainer">
        <app-description-generator 
            [items]="leftSide" 
            [activeItem]="leftSide[1]">
        </app-description-generator>
    
        <div *ngIf="!hasKeyUploaded" class="noKeyContainer">

            <p class="helperClass">AI Helper</p>
            <p class="importKey">Import an OpenAI API Key to use the Ai Helper</p>
    
            <div class="keyContainer">
                <p class="apiKey">OpenAI Api Key: </p>
                <input 
                    placeholder="Enter OpenAi API Key" 
                    class="APIinputbar" 
                    type="text" 
                    [(ngModel)]="apiKeyValue" 
                />
                <button pButton class="apiLock" (click)="storeApiKey()" icon="pi pi-lock"></button>
            </div>
        </div>

        <ng-container *ngIf="hasKeyUploaded">
            <div *ngIf="youtubeInfo$ | async as youtubeInfo" class="transcriptContainer">
                <p-header class="noUrl" *ngIf="!youtubeInfo.title">
                    <h2 class="p-text-center">Please enter a Youtube URL to get a Transcript</h2>
                </p-header>

                <p-header>
                    <h2 class="p-text-center">{{ youtubeInfo.title }}</h2>
                </p-header>
        
                <div class="transcript">
                    <p>{{ youtubeInfo.transcript }}</p>
                </div>
            </div>

        </ng-container>
    </div>

    

    <div class="tabsContainer">
        <app-description-generator 
            [items]="rightSide" 
            [activeItem]="rightSide[0]">
        </app-description-generator>

        <div class="descriptionContainer"></div>
    </div>

    
</div>