.topNav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;

    .leftSide{
        display: flex;
        margin-left: 2rem;
        gap: 0.25rem;
        align-items: center;

        .logo{
            width: 3rem;
            height: 3rem;
            
        }

        .titleContainer{
            background-color: #9A8AFB;
            border-radius: 24px;
            height: 2rem;
            padding: 0.25rem;
            display: flex;
            align-items: center;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

        }
    }

    .rightSide{
        display: flex;
        margin-right: 2rem;
        color: white;
    }

    .title{
        font-size: 14px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    }
}
